body {
	padding: 20px;
}
.info-board {
	width: 100%;
	height: 20px;
	padding: 5px;
	border: 2px black solid;
	margin-bottom: 20px;
}
.select-block {
	margin-bottom: 20px;
}
.table-block__station-management {
	margin-bottom: 20px;
}